<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">


                    <div class="text-left logo p-2 px-5">

                        <img src="https://www.alamy.com/stock-photo-can-of-coca-cola-life-soft-drink-78844739.html?imageid=B0A250B0-9901-4675-AF11-BF56DADDE105&p=91649&pn=1&searchId=c93bac04b69ad4c29a1cd5357d275c94&searchtype=0" width="50">
                        
                        

                    </div>

                    <div class="drinks p-5">

                        <h5>Your order Confirmed!</h5>

                        <span class="font-weight-bold d-block mt-4">Hello, John</span>
                        <span>Your order has been confirmed and will be shipped in next two days!</span>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order Date</span>
                                            <span>20 march,2023</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order No</span>
                                            <span>1234</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Payment</span>
                                            <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Shiping Address</span>
                                            <span>Moi Avenue, Nairobi</span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>




                            
                        </div>




                            <div class="product border-bottom table-responsive">

                                <table class="table table-borderless">

                                <tbody>
                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="document.querySelector("#Sva75c > div.DyeYj > div > div.dFMRD > div.pxAole > div.tvh9oe.BIB1wf > c-wiz > div > div > div > div.n4hgof > div > a > img:nth-child(2)")" width="90">

                                    </td>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">Appetizers</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$67.50</span>
                                        </div>
                                    </td>
                                    </tr>


                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="https://td.doubleclick.net/td/rul/981446364?random=1681860272574&cv=11&fst=1681860272574&fmt=3&bg=ffffff&guid=ON&async=1&gtm=45He34c0&u_w=1366&u_h=768&url=https%3A%2F%2Fwww.istockphoto.com%2Fphoto%2Fhomemade-italian-bruschetta-appetizer-gm481765835-36944402&ref=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fappetizer&hn=www.googleadservices.com&frm=0&tiba=Homemade%20Italian%20Bruschetta%20Appetizer%20Stock%20Photo%20-%20Download%20Image%20Now%20-%20Bruschetta%2C%20Appetizer%2C%20Tomato%20-%20iStock&auid=640288311.1681860264&fledge=1&uaa=x86&uab=64&uafvl=Chromium%3B112.0.5615.121%7CGoogle%2520Chrome%3B112.0.5615.121%7CNot%253AA-Brand%3B99.0.0.0&uamb=0&uap=Windows&uapv=10.0.0&uaw=0" width="70">

                                    </td>

                                    <td width="60%">
                                        <span class="font-weight-bold">Desserts</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$67.50</span>
                                        </div>
                                    </td>
                                    </tr>


                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="https://www.istockphoto.com/photo/dessert-with-fresh-strawberry-cream-cheese-and-strawberry-jam-gm508832706-85462263" width="70">

                                    </td>

                                    <td width="60%">
                                        <span class="font-weight-bold">Entres</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$67.50</span>
                                        </div>
                                    </td>
                                    </tr>


                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="https://www.shutterstock.com/image-photo/view-grilled-shrimp-entree-2262054203" width="70">

                                    </td>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">Drinks</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            <span>Type:Non alcoholic</span>
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$77.50</span>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody> 
                                    
                                </table>
                                


                            </div>



                            <div class="row d-flex justify-content-end">

                                <div class="col-md-5">

                                    <table class="table table-borderless">

                                        <tbody class="totals">

                                            <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$280.50</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Shipping Fee</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$22</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Tax Fee</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$7.65</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Discount</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="text-success">280.00</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">

                                                        <span class="font-weight-bold">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">$350.00</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                            </div class="form-group pt-3" >
                            <label for="name">Full Name</label>
                            <input required class="form-control" type="text" placeholder="Your Name"name="name" />

                        </div>

                    </div class="form-group pt-3" >
                    <label for="name">Email Address</label>
                    <input required class="form-control" type="text" placeholder="example@gmail.com"name="email" />

                </div>
            <div class="row">
            <div class=col=md-4 col-sm-12>
            </div class="form-group pt-3" >
            <label for="name">Street Address</label>
            <input required class="form-control" type="text" placeholder="1234 Main street"name="street" />

        </div>
        <div class="row">
        <div class=col=md-4 col-sm-12>
    </div class="form-group pt-3" >
    <label for="name">City</label>
    <input required class="form-control" type="text" placeholder="Nairobi"name="city" />

</div>
<div class="row">
    <div class=col=md-4 col-sm-12>
</div class="form-group pt-3" >
<label for="name">State</label>
<input required class="form-control" type="text" placeholder="Lavington"name="state" />

</div>
<div class="row">
    <div class=col=md-4 col-sm-12>
</div class="form-group pt-3" >
<label for="name">Zip Code</label>
<input required class="form-control" type="text" placeholder="4720"name="zip" />

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="submitModal">
    Submit Order
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submitModalLabel">Submit Your Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
          <button type="submit" class="btn btn-dark">Place Order!</button>
        </div>
      </div>
    </div>
  </div>
<button>
<class="btn-dark mt-5">Place Order!<bottom>

                            </div>


                           <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                            <span>eateries Team</span>



                        

                    </div>


                    <div class="d-flex justify-content-between footer p-3">

                        <span>Need Help? visit our <a href="#"> help center</a></span>
                         <span>20 February 2023</span>
                        
                    </div>



        
    </div>
            
        </div>
        
    </div>
    
</div>