<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">


                    <div class="text-left logo p-2 px-5">

                        <img src="C:\Users\My computer\Downloads\food.jpg" width="200">
                        
                        

                    </div>

                    <div class="appetizers p-5">

                        <h5>Your order Confirmed!</h5>

                        <span class="font-weight-bold d-block mt-4">Hello, John</span>
                        <span>Your order has been confirmed and will be shipped in next two days!</span>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order Date</span>
                                            <span>20 march,2023</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order No</span>
                                            <span>1234</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Payment</span>
                                            <span><img src="C:\Users\My computer\Downloads\pay.jpg" width="50" /></span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Shiping Address</span>
                                            <span>Moi Avenue, Nairobi</span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>




                            
                        </div>




                            <div class="product border-bottom table-responsive">

                                <table class="table table-borderless">

                                <tbody>
                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="C:\Users\My computer\Downloads\appetizer.jpg" width="100">

                                    </td>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">Appetizers</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$67.50</span>
                                        </div>
                                    </td>
                                    </tr>


                                    <tr>
                                        <td width="20%">
                                        
                                        <img src= "C:\Users\My computer\Downloads\dessert.jpg" width="100">

                                    </td>

                                    <td width="60%">
                                        <span class="font-weight-bold">Desserts</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$67.50</span>
                                        </div>
                                    </td>
                                    </tr>


                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="C:\Users\My computer\Downloads\entres.jpg" width="100">

                                    </td>

                                    <td width="60%">
                                        <span class="font-weight-bold">Entrees</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$67.50</span>
                                        </div>
                                    </td>
                                    </tr>


                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="C:\Users\My computer\Downloads\drinks.jpg" width="100">

                                    </td>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">Drinks</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:1</span>
                                            <span>Type:Non alcoholic</span>
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">$77.50</span>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody> 
                                    
                                </table>
                                

                                
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\sweetpotatoes.jpg" width="100">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Sweetpotatoes</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$100.00</span>
                                    </div>
                                </td>
                                </tr>



                            <tr>
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\cassava.jpg" width="100">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Cassava</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$80.50</span>
                                    </div>
                                </td>
                                </tr>



                            <tr>
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\yams.jpg" width="100">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Yams</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$65.50</span>
                                    </div>
                                </td>
                                </tr>

                            <tr>
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\irish potatoes.jpg" width="100">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Irishpotatoes</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                            </tr>
                            
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$77.50</span>
                                    </div>
                                </td>
                                </tr>

                            <tr>
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\arrowroots.jpg" width="100">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Arrowroots</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$50.50</span>
                                    </div>
                                </td>
                                </tr>

                            <tr>
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\english potatoes.jpg" width="100">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Englishpotatoes</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$90.00</span>
                                    </div>
                                </td>
                                </tr>

                            <tr>
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\ugali.jpg" width="100">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Ugali</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$60.50</span>
                                    </div>
                                </td>
                                </tr>

                            <tr>
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\fish.jpg" width="100">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Fish</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$67.50</span>
                                    </div>
                                </td>
                                </tr>

                            <tr>
                                <td width="20%">
                                        
                                    <img src="C:\Users\My computer\Downloads\mboga.jpg" width="120">

                                </td>
                            
                                <td width="60%">
                                    <span class="font-weight-bold">Kienyeji</span>
                                    <div class="product-qty">
                                        <span class="d-block">Quantity:1</span>
                                        
                                        
                                    </div>
                                </td>
                                <td width="20%">
                                    <div class="text-right">
                                        <span class="font-weight-bold">$80.50</span>
                                    </div>
                                </td>
                                </tr>


                            </div>

                            <div class="row d-flex justify-content-end">

                                <div class="col-md-5">

                                    <table class="table table-borderless">

                                        <tbody class="totals">

                                            <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$672.50</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Shipping Fee</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$30</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Tax Fee</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$10.55</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Discount</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="text-success">672.50.00</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">

                                                        <span class="font-weight-bold">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">$713.05</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                            </div class="form-group pt-3" >
                            <label for="name">Full Name</label>
                            <input required class="form-control" type="text" placeholder="Your Name"name="name" />

                        </div>

                    </div class="form-group pt-3" >
                    <label for="name">Email Address</label>
                    <input required class="form-control" type="text" placeholder="example@gmail.com"name="email" />

                </div>
            <div class="row">
            <div class=col=md-4 col-sm-12>
            </div class="form-group pt-3" >
            <label for="name">Street Address</label>
            <input required class="form-control" type="text" placeholder="1234 Main street"name="street" />

        </div>
        <div class="row">
        <div class=col=md-4 col-sm-12>
    </div class="form-group pt-3" >
    <label for="name">City</label>
    <input required class="form-control" type="text" placeholder="Nairobi"name="city" />

</div>
<div class="row">
    <div class=col=md-4 col-sm-12>
</div class="form-group pt-3" >
<label for="name">State</label>
<input required class="form-control" type="text" placeholder="Lavington"name="state" />

</div>
<div class="row">
    <div class=col=md-4 col-sm-12>
</div class="form-group pt-3" >
<label for="name">Zip Code</label>
<input required class="form-control" type="text" placeholder="4720"name="zip" />

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="submitModal">
    Submit Order
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submitModalLabel">Submit Your Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
          <button type="submit" class="btn btn-dark">Place Order!</button>
        </div>
      </div>
    </div>
  </div>
<button>
<class="btn-dark mt-5">Place Order!<bottom>

                            </div>


                           <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                            <span>eateries Team</span>



                        

                    </div>


                    <div class="d-flex justify-content-between footer p-3">

                        <span>Need Help? visit our <a href="#"> help center</a></span>
                         <span>20 February 2023</span>
                        
                    </div>



        
    </div>
            
        </div>
        
    </div>
    
</div>